<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home Page! <%= 4 + 5 %></h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit quae magnam totam id iure corporis molestias dignissimos nisi optio exercitationem corrupti nobis quam voluptates nostrum ad, architecto odit ab recusandae!</p>
</body>
</html>